<div id="<%= dom_id course %>">
  <p>
    <strong>Code:</strong>
    <%= course.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Credits:</strong>
    <%= course.credits %>
  </p>

  <p>
    <strong>Instructor:</strong>
    <%= course.instructor %>
  </p>

  <p>
    <strong>Days:</strong>
    <%= course.days %>
  </p>

  <p>
    <strong>Timing:</strong>
    <%= course.timing %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

</div>
